# 默认忽略所有文件和目录，如果需要跟踪特定目录或文件，使用“!”来取消忽略规则。
/*

# 打开 .gitignore 文件本身，以确保它被跟踪
!.gitignore
·
# 一、打开 kernel/linux_drivers 目录的流程 ******************
# 1. 首先打开 kernel/linux_drivers 目录及其内容
!kernel/

# 2. 而后忽略 kernel 目录下的所有内容
/kernel/*

# 3. 最后再打开 kernel/drivers 目录及其内容
!kernel/linux_drivers/
# **********************************************************

# 二、打开 kernel/drivers/media/spi 目录的流程（需要一级级地打开每个上级目录）********************
# 打开 kernel/drivers/ 目录，再关掉 drivers 目录下的所有内容
!kernel/drivers/
/kernel/drivers/*

# 打开 kernel/drivers/media/ 目录，再关掉 media 目录下的所有内容
!kernel/drivers/media/
/kernel/drivers/media/*

# 打开 kernel/drivers/media/spi/ 目录
!/kernel/drivers/media/spi/

# 关掉 kernel/drivers/media/spi/ 目录，再打开电机相关的文件目录下的所有内容
/kernel/drivers/media/spi/*
!/kernel/drivers/media/spi/ms41908.c

# ********************************************************************************************
