# 1) 默认忽略所有文件与目录
/*

# 2) 通用放开
!.gitignore
!edit.py

# 3) 放开清单（由脚本维护）

# ==== TRACKED_FILES_BEGIN ====
# external/
!external/
/external/*
# external/rkmedia/
!external/rkmedia/
/external/rkmedia/*
# external/rkmedia/examples/
!external/rkmedia/examples/
/external/rkmedia/examples/*
# external/rkmedia/examples/rkmedia_vi_vo_test.c
!external/rkmedia/examples/rkmedia_vi_vo_test.c
# files/
!files/
# kernel/
!kernel/
/kernel/*
# kernel/arch/
!kernel/arch/
/kernel/arch/*
# kernel/arch/arm/
!kernel/arch/arm/
/kernel/arch/arm/*
# kernel/arch/arm/configs/
!kernel/arch/arm/configs/
/kernel/arch/arm/configs/*
# kernel/arch/arm/configs/alientek_rv1126_defconfig
!kernel/arch/arm/configs/alientek_rv1126_defconfig
# kernel/arch/arm/boot/
!kernel/arch/arm/boot/
/kernel/arch/arm/boot/*
# kernel/arch/arm/boot/dts/
!kernel/arch/arm/boot/dts/
/kernel/arch/arm/boot/dts/*
# kernel/arch/arm/boot/dts/rv1126-alientek.dts
!kernel/arch/arm/boot/dts/rv1126-alientek.dts
# kernel/drivers/
!kernel/drivers/
/kernel/drivers/*
# kernel/drivers/media/
!kernel/drivers/media/
/kernel/drivers/media/*
# kernel/drivers/media/spi/
!kernel/drivers/media/spi/
/kernel/drivers/media/spi/*
# kernel/drivers/media/spi/Kconfig
!kernel/drivers/media/spi/Kconfig
# kernel/drivers/media/spi/Makefile
!kernel/drivers/media/spi/Makefile
# kernel/drivers/media/spi/zoom_mapping_table.h
!kernel/drivers/media/spi/zoom_mapping_table.h
# kernel/drivers/media/spi/ms41908_3.c
!kernel/drivers/media/spi/ms41908_3.c
# kernel/drivers/media/spi/ms41908_2.c
!kernel/drivers/media/spi/ms41908_2.c
# kernel/drivers/media/spi/ms41908_1.c
!kernel/drivers/media/spi/ms41908_1.c
# kernel/drivers/media/i2c/
!kernel/drivers/media/i2c/
/kernel/drivers/media/i2c/*
# kernel/drivers/media/i2c/Kconfig
!kernel/drivers/media/i2c/Kconfig
# kernel/drivers/media/i2c/Makefile
!kernel/drivers/media/i2c/Makefile
# kernel/drivers/media/i2c/ir6.c
!kernel/drivers/media/i2c/ir6.c



# ==== TRACKED_FILES_END ====



