/* SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 */
/dts-v1/;
#include "rv1126.dtsi"
#include "rv1126-alientek.dtsi"
/ {
    model = "ALIENTEK RV1126 EVB DDR4 V1.0 Board";
    compatible = "rockchip,rv1126-evb-ddr3-v13", "rockchip,rv1126";

    chosen {
        bootargs = "earlycon=uart8250,mmio32,0xff570000 console=ttyFIQ0 root=PARTUUID=614e0000-0000 rootfstype=ext4 rootwait snd_aloop.index=7";
    };
};
&dsi {
	status = "okay";

	panel@0 {
		compatible = "ilitek,ili9881d", "simple-panel-dsi";
		reg = <0>;
		backlight = <&backlight>;
		power-supply = <&vcc18_lcd_n>;
		prepare-delay-ms = <5>;
		reset-delay-ms = <1>;
		init-delay-ms = <80>;
		disable-delay-ms = <10>;
		unprepare-delay-ms = <5>;

		width-mm = <68>;
		height-mm = <121>;

		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST |
			      MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes = <4>;

		panel-init-sequence = [
            39 00 04 B9 FF 83 94
            15 00 02 36 01
            39 00 07 BA 63 03 68 6B B2 C0
            39 00 0B B1 48 12 72 09 32 54 71 71 57 47
            39 00 07 B2 00 80 64 0C 0D 2F
            39 00 16 B4 73 74 73 74 73 74 01 0C 86 75 00 3F 73 74 73 74 73 74 01 0C 86
            39 00 03 B6 6E 6E
            39 00 22 D3 00 00 07 07 40 07 0C 00 08 10 08 00 08 54 15 0A 05 0A 02 15 06 05 06 47 44 0A 0A 4B 10 07 07 0C 40
            39 00 2D D5 1C 1C 1D 1D 00 01 02 03 04 05 06 07 08 09 0A 0B 24 25 18 18 26 27 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 20 21 18 18 18 18
            39 00 2D D6 1C 1C 1D 1D 07 06 05 04 03 02 01 00 0B 0A 09 08 21 20 18 18 27 26 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 25 24 18 18 18 18
            39 00 3B E0 00 0A 15 1B 1E 21 24 22 47 56 65 66 6E 82 88 8B 9A 9D 98 A8 B9 5D 5C 61 66 6A 6F 7F 7F 00 0A 15 1B 1E 21 24 22 47 56 65 65 6E 81 87 8B 98 9D 99 A8 BA 5D 5D 62 67 6B 72 7F 7F
            39 00 03 C0 1F 31
            15 00 02 CC 03
            15 00 02 D4 02
            15 00 02 BD 02
            39 00 0D D8 FF FF FF FF FF FF FF FF FF FF FF FF
            15 00 02 BD 00
            15 00 02 BD 01
            15 00 02 B1 00
            15 00 02 BD 00
            39 00 08 BF 40 81 50 00 1A FC 01
            15 00 02 C6 ED
            05 64 01 11
            05 78 01 29

        ];

		display-timings {
            native-mode = <&timing0>;
			timing0: timing0 {
				clock-frequency = <65000000>;
				hactive = <720>;
				vactive = <1280>;
				hfront-porch = <48>;
				hsync-len = <8>;
				hback-porch = <52>;
				vfront-porch = <16>;
				vsync-len = <6>;
				vback-porch = <15>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

        
		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel_in_dsi: endpoint {
					remote-endpoint = <&dsi_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi>;
			};
		};
	};
};

&csi_dphy0 {
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;
        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            mipi_in_ucam0: endpoint@1 {
                reg = <1>;
                remote-endpoint = <&ucam_out0>;
                data-lanes = <1 2 3 4>;
            };

            mipi_in_ucam1: endpoint@2 {
                reg = <2>;
                remote-endpoint = <&ucam_out1>;
                data-lanes = <1 2 3 4>;
            };
        };
        port@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;

            csidphy0_out: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&mipi_csi2_input>;
            };
        };
    };
};

&csi_dphy1 {
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            csi_dphy1_input: endpoint@1 {
                reg = <1>;
                remote-endpoint = <&ucam_out2>;
                data-lanes = <1 2 3 4>;
            };

            csi_dphy2_input: endpoint@2 {
                reg = <2>;
                remote-endpoint = <&ucam_out3>;
                data-lanes = <1 2 3 4>;
            };
        };

        port@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;

            csi_dphy1_output: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&isp_in>;
                data-lanes = <1 2 3 4>;
            };
        };
    };
};


&i2c1 {
	status = "okay";
	clock-frequency = <400000>;

    imx415: imx415@1a {
        compatible = "sony,imx415";
        reg = <0x1a>;
        clocks = <&cru CLK_MIPICSI_OUT>;
        clock-names = "xvclk";
        power-domains = <&power RV1126_PD_VI>;
        pinctrl-names = "rockchip,camera_default";
        pinctrl-0 = <&mipicsi_clk0>;
        avdd-supply = <&vcc_avdd>;
        dovdd-supply = <&vcc_dovdd>;
        dvdd-supply = <&vcc_dvdd>;
        pwdn-gpios = <&gpio1 RK_PD4 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio4 RK_PA0 GPIO_ACTIVE_LOW>;
        rockchip,camera-module-index = <0>;
        rockchip,camera-module-facing = "front";
        rockchip,camera-module-name = "YT10092";
        rockchip,camera-module-lens-name = "IR0147-60IRC-8M-F20-hdr3";
        port {
            ucam_out0: endpoint {
                remote-endpoint = <&mipi_in_ucam0>;
                data-lanes = <1 2 3 4>;
            };
        };
    };

    ir6: ir6@60 {
        compatible = "uhdc,ir6";
        reg = <0x60>;
        // clocks = <&cru CLK_MIPICSI_OUT>;
        clocks = <&cru CLK_MIPICSI_OUT>;
        clock-names = "xvclk";
        power-domains = <&power RV1126_PD_VI>;
        pinctrl-names = "rockchip,camera_default";
        pinctrl-0 = <&mipicsi_clk0>;
        avdd-supply = <&vcc_avdd>;
        dovdd-supply = <&vcc_dovdd>;
        dvdd-supply = <&vcc_dvdd>;
        pwdn-gpios = <&gpio1 RK_PD4 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio4 RK_PA0 GPIO_ACTIVE_HIGH>;
        rockchip,camera-module-index = <0>;
        rockchip,camera-module-facing = "front";
        rockchip,camera-module-name = "UHD099";
        rockchip,camera-module-lens-name = "NIR-E-2M-F1-hdr2";
        
        // ir-cut = <&cam_ircut0>;
        // flash-leds = <&flash_ir>;
        lens-focus = <&ms41908_1>;
        port {
            ucam_out1: endpoint {
                remote-endpoint = <&mipi_in_ucam1>;
                data-lanes = <1 2 3 4>;
            };
        };

    };

};

&i2c5 {
    gt1x: gt1x@14 {
        compatible = "goodix,gt9xx";
        reg = <0x14>;
        gtp_ics_slot_report;
        pinctrl-names = "default";
        pinctrl-0 = <&touch_gpio>;
        power-supply = <&vcc18_lcd_n>;
        reset-gpio = <&gpio2 RK_PB0 GPIO_ACTIVE_HIGH>;
        touch-gpio = <&gpio2 RK_PB2 GPIO_ACTIVE_LOW>;
        tp-size = <911>;
        status = "okay";
    };

    imx415_csi1: imx415@1a {
        compatible = "sony,imx415";
        reg = <0x1a>;
        clocks = <&cru CLK_MIPICSI_OUT>;
        clock-names = "xvclk";
        power-domains = <&power RV1126_PD_VI>;
        pinctrl-names = "rockchip,camera_default";
        pinctrl-0 = <&mipicsi_clk1>;
        avdd-supply = <&vcc_avdd>;
        dovdd-supply = <&vcc_dovdd>;
        dvdd-supply = <&vcc_dvdd>;
        pwdn-gpios = <&gpio2 RK_PA7 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio4 RK_PA1 GPIO_ACTIVE_LOW>;
        rockchip,camera-module-index = <1>;
        rockchip,camera-module-facing = "front";
        rockchip,camera-module-name = "YT10092";
        rockchip,camera-module-lens-name = "IR0147-60IRC-8M-F20-hdr3";
        port {
            ucam_out2: endpoint {
                remote-endpoint = <&csi_dphy1_input>;
                data-lanes = <1 2 3 4>;
            };
        };
    };

    imx335_csi1: imx335-csi@1a {
        compatible = "sony,imx335";
        reg = <0x1a>;
        clocks = <&cru CLK_MIPICSI_OUT>;
        clock-names = "xvclk";
        power-domains = <&power RV1126_PD_VI>;
        pinctrl-names = "rockchip,camera_default";
        pinctrl-0 = <&mipicsi_clk1>;
        avdd-supply = <&vcc_avdd>;
        dovdd-supply = <&vcc_dovdd>;
        dvdd-supply = <&vcc_dvdd>;
        pwdn-gpios = <&gpio2 RK_PA7 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio4 RK_PA1 GPIO_ACTIVE_LOW>;
        rockchip,camera-module-index = <1>;
        rockchip,camera-module-facing = "front";
        rockchip,camera-module-name = "MTV4-IR-E-P";
        rockchip,camera-module-lens-name = "40IRC-4MP-F16";
        port {
            ucam_out3: endpoint {
                remote-endpoint = <&csi_dphy2_input>;
                data-lanes = <1 2 3 4>;
            };
        };
    };

};

&isp_reserved {
    size = <0x20000000>;
};
&mipi_csi2 {
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            mipi_csi2_input: endpoint@1 {
                reg = <1>;
                remote-endpoint = <&csidphy0_out>;
                data-lanes = <1 2 3 4>;
            };
        };

        port@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;

            mipi_csi2_output: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&cif_mipi_in>;
                data-lanes = <1 2 3 4>;
            };
        };
    };
};

&rkcif_mipi_lvds {
    status = "okay";

    port {
        /* MIPI CSI-2 endpoint */
        cif_mipi_in: endpoint {
            remote-endpoint = <&mipi_csi2_output>;
            data-lanes = <1 2 3 4>;
        };
    };
};

&rkcif_mipi_lvds_sditf {
    status = "okay";

    port {
        /* MIPI CSI-2 endpoint */
        cif_sditf: endpoint {
            remote-endpoint = <&isp_virt1_in>;
            data-lanes = <1 2 3 4>;
        };
    };
};

&rkisp_vir0 {
    status = "okay";

    ports {
        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            isp_virt1_in: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&cif_sditf>;
            };
        };
    };
};

&rkisp_vir1 {
    status = "disable";     // okay -> disable  
    ports {
        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            isp_in: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&csi_dphy1_output>;
            };
        };
    };
};


&rkispp_vir0 {
	status = "okay";
};

&rkispp_vir1 {
	status = "okay";
};

&isp_reserved {
    size = <0x20000000>;
};

&rkispp {
	max-input = <3840 2160 30>;
};

// ms41908 motor drive ic related
&pinctrl {
	gpio {
		/omit-if-no-ref/
		focus_pic_gpio: pic-gpio {
			rockchip,pins = <3 RK_PB7 0 &pcfg_pull_up_drv_level_1>;
		};

        zoom1_pic_gpio: zoom1-pic-gpio {
            rockchip,pins = <3 RK_PC1 0 &pcfg_pull_up_drv_level_1>;
        };

        zoom2_pic_gpio: zoom2-pic-gpio {
            rockchip,pins = <3 RK_PB4 0 &pcfg_pull_up_drv_level_1>;
        };

        zoom3_pic_gpio: zoom3-pic-gpio {
            rockchip,pins = <0 RK_PC2 0 &pcfg_pull_up_drv_level_1>;
        };

        piris_pic_gpio: piris-pic-gpio {
            rockchip,pins = <3 RK_PB5 0 &pcfg_pull_up_drv_level_1>;
        };

        // gpioClocks: gpioClocks {
        //     rockchip,pins = <3 RK_C6 1 &pcfg_pull_none>;
        // };
	};

    led-gpios{
        /omit-if-no-ref/
        led_gpio: led-pin {
            rockchip,pins =
            <3 RK_PD4 0 &pcfg_pull_none>;
        };

        clk_gpio: clk-pin {
            rockchip,pins =
            <3 RK_PC6 1 &pcfg_pull_none>;
        };
    };
};

&spi1 {
    status = "okay";
    max-freq = <50000000>;
    pinctrl-names = "default", "high_speed","pic-gpio" ;
    assigned-clocks = <&pmucru CLK_SPI0>;
    assigned-clock-rates = <100000000>;
    pinctrl-0 = <&spi1m2_cs0 &spi1m2_cs1   &spi1m2_pins   &focus_pic_gpio   &zoom1_pic_gpio &zoom2_pic_gpio &zoom3_pic_gpio &piris_pic_gpio>;//&pic_gpio需要设置为上拉，在pirctrl.dtsi中配置
    // pinctrl-0 = <&spi1m2_cs0 &spi1m2_cs1   &spi1m2_pins   &focus_pic_gpio   &zoom1_pic_gpio >;//&pic_gpio需要设置为上拉，在pirctrl.dtsi中配置
    pinctrl-1 = <&spi1m2_cs0 &spi1m2_cs1   &spi1m2_pins_hs>;
	
    cs-gpios = <
        &gpio2 RK_PD4 GPIO_ACTIVE_LOW  
        &gpio3 RK_PA4 GPIO_ACTIVE_LOW
        &gpio3 RK_PA6 GPIO_ACTIVE_LOW
    >;

    // focus + zoom1 
    ms41908_1: ms41908_1@00 {
        // === Spi 设备配置 ===
        compatible = "ms41908_1,focus_zoom1";
        reg = <0>;
        spi-max-frequency = <8000000>;  // SPI 通讯速率

        rockchip,camera-module-index = <0>;
        rockchip,camera-module-facing="front";

        bias-pull-up; 

        // === 管脚配置 ===       
        vd_fz-period-us = <10000>;
        vd_fz-gpios = <&gpio3 RK_PC3 GPIO_ACTIVE_HIGH>;
        // reset-gpios=<&gpio0 RK_PC3 GPIO_ACTIVE_HIGH>;
        // Focus IO
        focus_pic-gpios=<&gpio3 RK_PB7 GPIO_ACTIVE_HIGH>;
        focus_pie-gpios=<&gpio3 RK_PC0 GPIO_ACTIVE_HIGH>;
        // Zoom IO
        zoom_pic-gpios=<&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
        zoom_pie-gpios=<&gpio3 RK_PC2 GPIO_ACTIVE_HIGH>;
        
        // === focus 参数配置 ===
        use-focus;
        focus-used-pin = "cd";
        focus-backlash=<6>;
        focus-start-up-speed=<800>;
        focus-step-max=<3257>;  // 2803 | 2923 | 3257
        focus-ppw=<200>;
        focus-micro=<64>;
        focus-min-pos=<2405>;    //197 | 316  2405
        focus-max-pos=<474>;    // 474
        focus-reback-distance=<0>;
        // focus-dir-opposite;
        focus-1-2phase-excitation;

        // === zoom 参数配置 ===
        use-zoom;
        zoom-used-pin = "ab";
        zoom-backlash=<3>;
        zoom-start-up-speed=<800>;
        zoom-step-max=<1755>;
        zoom-ppw=<200>;
        zoom-micro=<64>;
        zoom-min-pos=<1024>;
        zoom-max-pos=<731>;
        zoom-reback-distance=<0>;
        // zoom-dir-opposite;
        // zoom-1-2phase-excitation;

        // === piris 参数配置 ===
        use-p-iris;
        piris-used-pin = "ab";
        piris-backlash=<3>;
        piris-start-up-speed=<800>;
        piris-step-max=<100>;   // 1700
        piris-ppw=<200>;
        piris-micro=<64>;
        piris-min-pos=<4>;
        piris-max-pos=<46>;
        piris-reback-distance=<0>;
        // piris-dir-opposite;
        piris-1-2phase-excitation;
    };

    // zoom2 + zoom3 
    ms41908_2: ms41908_2@01 {    // ms41908_2: ms41908_2@01 {
        // === Spi 设备配置 ===
        compatible = "ms41908_2,zoom2_zoom3";   // ms41908_2,zoom2_zoom3
        reg = <1>;
        spi-max-frequency = <8000000>;  // SPI 通讯速率

        rockchip,camera-module-index = <0>;
        rockchip,camera-module-facing="front";

        bias-pull-up; 

        // === 管脚配置 ===       
        vd_fz-period-us = <10000>;
        vd_fz-gpios = <&gpio3 RK_PA5 GPIO_ACTIVE_HIGH>;
        // reset-gpios=<&gpio2 RK_PC0 GPIO_ACTIVE_HIGH>;
        // Zoom2 IO
        zoom_pic-gpios=<&gpio3 RK_PB4 GPIO_ACTIVE_HIGH>;    
        zoom_pie-gpios=<&gpio3 RK_PB6 GPIO_ACTIVE_HIGH>;
        // Zoom3 IO
        zoom1_pic-gpios=<&gpio0 RK_PC2 GPIO_ACTIVE_HIGH>;
        zoom1_pie-gpios=<&gpio0 RK_PC0 GPIO_ACTIVE_HIGH>;
        
        // === zoom2 参数配置 ===
        use-zoom;
        zoom-used-pin = "ab";
        zoom-backlash=<3>;
        zoom-start-up-speed=<800>;
        zoom-step-max=<1757>;   // 1700
        zoom-ppw=<200>;
        zoom-micro=<64>;
        zoom-min-pos=<165>;
        zoom-max-pos=<1363>;
        zoom-reback-distance=<0>;
        // zoom-dir-opposite;
        zoom-1-2phase-excitation;

        // === zoom3 参数配置 ===
        use-zoom1;
        zoom1-used-pin = "cd";
        zoom1-backlash=<3>;
        zoom1-start-up-speed=<800>;
        zoom1-step-max=<2448>;  // 2438
        zoom1-ppw=<200>;
        zoom1-micro=<64>;
        zoom1-min-pos=<491>;
        zoom1-max-pos=<1877>;
        zoom1-reback-distance=<0>;
        // zoom1-dir-opposite;
        zoom1-1-2phase-excitation;
    };

    // piris
    ms41908_3: ms41908_3@01 {    
        // === Spi 设备配置 ===
        compatible = "ms41908_3,piris";   // P-Iris
        reg = <2>;
        spi-max-frequency = <8000000>;  // SPI 通讯速率

        rockchip,camera-module-index = <0>;
        rockchip,camera-module-facing="front";

        bias-pull-up; 

        // === 管脚配置 ===       
        vd_fz-period-us = <10000>;
        vd_fz-gpios = <&gpio3 RK_PA7 GPIO_ACTIVE_HIGH>;
        // reset-gpios=<&gpio2 RK_PC0 GPIO_ACTIVE_HIGH>;
        // Piris IO
        // piris_pic-gpios=<&gpio0 RK_PC3 GPIO_ACTIVE_HIGH>;    
        piris_pic-gpios=<&gpio3 RK_PB5 GPIO_ACTIVE_HIGH>;  
        piris_pie-gpios=<&gpio3 RK_PC5 GPIO_ACTIVE_HIGH>;

        // === piris 参数配置 ===
        use-p-iris;
        piris-used-pin = "ab";
        piris-backlash=<3>;
        piris-start-up-speed=<800>;
        piris-step-max=<50>;   // 1700
        piris-ppw=<200>;
        piris-micro=<64>;
        piris-min-pos=<4>;
        piris-max-pos=<46>;
        piris-reback-distance=<0>;
        // piris-dir-opposite;
        piris-1-2phase-excitation;

    };

};

&pmu_io_domains {

	vccio6-supply = <&vcc_3v3>;

};